<div fxLayout="row" fxLayout.xs="column" class="w-100 h-100 error-page" fxLayoutAlign="center ">
  <div  class="w-100 h-100 " fxLayout="column" fxLayoutAlign="center" fxFlex="60%">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 class="error">404</h1>
    </div>
    <div class="p-4" fxLayoutAlign="center center">
      <h1 class="text-muted">Page Not Found☹</h1>
    </div>
    <div class="p-4 fs-1 lh-sm" >
      We Searched high and low but couldn't find what you're Looking for. Lets find a better for you to go.
    </div>
    <div fxLayoutAlign="end " class="button">
      <button mat-raised-button routerLink="/home" >
         Go to Home Page
         <mat-icon class="mat-18">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
