$secondary : rgb(191, 207, 207);
$primary :#04375c;

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.example {
  overflow-y: scroll; /* Add the ability to scroll */
}
