$secondary : rgb(191, 207, 207);
$primary :#04375c;
.login_page{
  background-color: rgb(191, 207, 207);
}
mat-divider{
  height:60%;
  background-color: rgba(255, 255, 255, 0.336);
  width: 0.3%;
}
img{
  height: 140px;
  width: 200px;
}
@media screen and  (max-width:560px){
  .input-group{
    width: 100%;
  }
}
// mat-form-field{

// }
//Standard
.input-group{
  background-color: white;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}


.form{
  width: 100%;
}
.submit{
  background-color: $primary;
  color: rgb(253, 253, 253);
  height: 40px;
  width: 25%;
  font-size: 130%;
  font-weight: 400;
  border-radius: 4px 4px 4px 4px;
}
.material-icons{
  font-size: 20px !important;
}
.carousel-slide-content{
  height: 10% !important;
}
input{
  line-height: 0% !important;
}
a{
  text-decoration: none;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-weight: 500;
}
.password_button{
  background-color: $primary;
  color: white;
}
.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 0px 4px 4px 0px !important;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
