.login_page{
  background-color: rgb(229, 250, 250);
}
mat-divider{
  height:60%;
  background-color: rgba(255, 255, 255, 0.336);
  width: 0.3%;
}
img{
  height: 140px;
  width: 200px;
}
@media screen and  (max-width:560px){
  .input-group{
    width: 100%;
  }
}
// mat-form-field{

// }
//Standard
.input-group{
  background-color: white;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
.form-control:focus {
  // outline: 0 !important;
  // border-color: initial;
  // box-shadow: none;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.form{
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
.submit{
  background: linear-gradient(red,rgb(155, 15, 15),black);
  color: rgb(253, 253, 253);
  height: 50px;
  width: 60%;
  font-size: 170%;
  font-weight: 300;
  border-radius: 18px 18px 18px 18px;
}

.carousel-slide-content{
  height: 10% !important;
}
.carousel { position: absolute;height:100%;min-height: 100%;width:100%; }
.carousel-inner { position: relative; width: 100%; height:100%;min-height: 100%;}
.carousel-inner>.item {height:100%;min-height: 100%; position: relative; display: none; -webkit-transition: .6s ease-in-out left; -o-transition: .6s ease-in-out left; transition: .6s ease-in-out left;width:100%; }
.carousel-inner>.item>a>img, .carousel-inner>.item>img { line-height: 3 }
