$secondary : rgb(191, 207, 207);
.login_page{
  background-color: rgb(191, 207, 207);
}
mat-divider{
  height:60%;
  background-color: rgba(255, 255, 255, 0.336);
  width: 0.3%;
}
img{
  height: 140px;
  width: 200px;
}
@media screen and  (max-width:560px){
  .input-group{
    width: 100%;
  }
}
// mat-form-field{

// }
//Standard
.input-group{
  background-color: white;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
.form-control:focus {
  // outline: 0 !important;
  // border-color: initial;
  // box-shadow: none;
}

.form{
  width: 100%;
}
.submit{
  background: linear-gradient(red,rgb(155, 15, 15),black);
  color: rgb(253, 253, 253);
  height: 45px;
  width: 30%;
  font-size: 150%;
  font-weight: 400;
  border-radius: 4px 4px 4px 4px;
}

.carousel-slide-content{
  height: 10% !important;
}

a{
  text-decoration: none;
  color: rgb(41, 41, 41);
  cursor: pointer;
  font-weight: 500;
}
